/* COMMON CSS */
.inline-block { display: inline-block; *display: inline; *position: relative; zoom:1; }
.dca-search button {
    background:#2fbe15; border:1px solid #18900b; height:63px;  width:143px; cursor:pointer;
    font-family : Lato,sans-serif; font-size: 18px; font-weight: 400; color:#fff; margin:0 0 0 -4px;
}
.dca-search button, .dca-domain-avail span button, #checkout,
.dca-footer-banner a, a.dca-comingsoon-button, .filter-button
{
    -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(216, 216, 216, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(216, 216, 216, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(216, 216, 216, 0.2); outline: none;
}
.dca-search button:hover, .dca-domain-avail span button:hover, #checkout:hover,
.dca-footer-banner a:hover, a.dca-comingsoon-button:hover, .filter-button:hover
{ 	background:#34c918;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.dca-search button:active, .dca-domain-avail span button:active, #checkout:active,
.dca-footer-banner a:active, a.dca-comingsoon-button:active, .filter-button:active,
a.tooltipanimated.dca-comingsoon-button.clicked
{ background:#2db315 }
.dca-red-text { color: #d61400; }
.dca-green-text { color:#2aa713 }
.dca-gray-text { color: #999 !important; }
.hide {display: none}

/* SEARCH BAR */
.dca-page-wrapper { /*border: 1px solid black;*/ width: 1000px; margin: 75px auto 70px auto; position:relative; }
.dca-search { width: 730px; padding: 5px;}


/* PRIMARY & SECONDARY SEARCH RESULTS */
.secondary-section  { width: 735px; margin:40px 0 0 0; position:relative; }
.primary-result-section.dca-unavailable { border:2px solid #d82310; }
.primary-result-section.dca-available { border:2px solid #2fbe16; }
.primary-result-section, .secondary-result-section
{   border:2px solid #ccc; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;  margin:40px 0;  width:735px; }
.secondary-result-section { border:1px solid #ccc; width: 735px; margin :7px auto 20px auto; min-height:320px !important;  }
.secondary-section-heading { font-family:Lato,sans-serif; font-size:20px; font-weight:600; color:#222; }

/* Individual Result */
.primary-result, .secondary-result
{ width:100%;  position:relative; clear:both; color: #222; }
.primary-result { padding:20px 0; }
.secondary-result  { margin-bottom:-2px; border-bottom: 1px solid #ccc; padding:30px 0 26px 0;  }

/* Domain name in result */
.secondary-result .dca-domain-name { height:35px;  }
.dca-domain-name   { margin:0 0 0 20px; font-family:Lato,sans-serif; font-size:20px; color:#222; width:40%; }
.primary-result .dca-domain-name{ font-weight:600; }
.secondary-result .dca-domain-name   { padding:0; font-weight:400; }

/* Domain duration, pricing button container */
.dca-domain-avail { text-align:right; padding:0 20px 0 0; position:absolute; right:0; width:60%; top: 25px;}
.primary-result .dca-domain-avail { top:25px; }
.primary-result .dca-domain-avail span.inline-block { margin:0 0 0 36px; vertical-align:top; width: 25%; }
.secondary-result .dca-domain-avail { height:35px; }
.secondary-result .dca-domain-avail span.inline-block { margin:0 0 0 25px; vertical-align: middle; width:30%; }
.secondary-result-section-tld-upsell .dca-domain-avail span.inline-block { margin:0 0 0 20px; vertical-align: middle; width:50%; padding-right: 10px}
.primary-result .dca-domain-avail span.inline-block { vertical-align: middle !important; }
.dca-domain-avail span button, a.dca-comingsoon-button, .filter-button, .addToCart, button.select-domain
{ background:#f76d00; border:0; color:#fff; font-family:Lato,sans-serif; font-size:13px; font-weight: 400; height:auto; width:auto; padding:8px 20px;
    -webkit-border-radius: 9px; -moz-border-radius: 20px; border-radius: 20px; cursor:pointer; border: 1px solid #f76d00; outline: none; }
.addToCart {display: inline-block;margin-top: 10px;}
.dca-pricing { font-family:Lato,sans-serif; font-size:18px; font-weight:600; position:relative; }
.secondary-result .dca-pricing, .secondary-result-section-tld-upsell .dca-pricing { font-weight: 400; font-size:15px; color:#222; }
.secondary-result .dca-domain-avail span.inline-block em.dca-red-text,
.secondary-result-section-tld-upsell .dca-domain-avail span.inline-block em.dca-red-text
{ font-style:normal !important; font-family:Lato,sans-serif; font-size:18px; font-weight:600;  }

/* Primary available & unavailable */
.dca-hide-disabled { visibility:hidden; }
.idn-result.dca-dn-available, .idn-result.dca-dn-unavailable
{  padding:0 0 0 50px;  }
.idn-result.dca-dn-available	{ background: url('/getImage.php?src=domain-available.png') no-repeat 0 6px;  }
.idn-result.dca-dn-unavailable    { background: url('/getImage.php?src=domain-unavailable.png') no-repeat 0 6px; }
.dca-domain-avail span select option:nth-child(even) { background: #f8f8f8; }

.dca-dn-available-icon, .dca-dn-unavailable-icon
{ height:36px; width:36px; vertical-align:top; margin:2px 10px 0 0; background:url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat; }

.dca-dn-unavailable-icon { background-position:0 0; }

.dca-dn-available-icon { background-position:0 -48px; }


/* Show More */
.show-more  {  text-align:center;    }
.show-more button
{ background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat 180px -169px #fff;
    font-family:Lato,sans-serif; font-size:18px; line-height:22px; font-weight:normal; color:#222;
    cursor: pointer; border:0; margin:-4px 0 0 0; width:200px; outline: none; }
.show-more button:hover
{ text-decoration: underline;  }

/* Tags */
.secondary-result .dca-sale-tag, .primary-result .dca-sale-tag, .secondary-result-section-tld-upsell .dca-sale-tag
{  background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat 0 -98px; position:absolute; top:0px; right:0px; height:38px; width:38px; }
.primary-result .dca-sale-tag { top: -1px; right: -1px;}
.dca-comingsoon-tag, .dca-premiumdomain-tag, .dca-eap-tag, .dca-protecteddomain-tag
{ font-family:Lato,sans-serif; font-size:12px; font-weight: 400; color:#fff; padding:0 10px 0 27px; line-height:19px; margin-top:3px;
    -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; display:block !important;
}
.dca-comingsoon-tag  { background: #e07182; width:120px !important; padding:0 0 0 8px !important; vertical-align:top; height:19px; position:relative; bottom:-5px; }

.primary-result .dca-comingsoon-tag { bottom:0; }

.dca-comingsoon-tag .dca-comingsoon-icon
{ background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat 0 -145px; height:19px; vertical-align:middle;  width:20px !important; margin:0 3px 0 0; }

.dca-premiumdomain-tag { background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat -37px -145px #ff9c00;  height:19px;  width:105px !important; }
.dca-protecteddomain-tag { background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat -37px -194px #ff9c00; height:19px;  width:70px !important; }

.dca-eap-tag { background: url('/getImage.php?src=images/eap-tooltip-icon.png') no-repeat #058ce9; width: 85px; text-transform: uppercase; }

.dca-eap-tag span { text-transform: none; }

/* Select Button */
.primary-result .dca-select-button { width:127px !important;  }
.primary-result button.dca-added,.primary-result button.pre-add, .primary-result button.pre-add:hover, .secondary-result button.dca-added, .secondary-result button.pre-add,
.secondary-result button.pre-add:hover
{ background: url("/getImage.php?src=images/prereg-icons-bg.png") no-repeat 10px -67px #2fbe15; padding:8px 20px 8px 30px; }
.primary-result button.dca-added:hover, .secondary-result button.dca-added:hover
{  background: url('/getImage.php?src=images/dont-prebook-notify-icon.png') no-repeat 12px 9px #d61400 !important;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
    border:1px solid #d61400;

}

.loading-dca-content { height:10px; width:80px; margin:20px auto; text-align:center; }
.secondary-result-section .loading-dca-content { margin:100px auto; }

/* IDN Search Adjustment */
.small-idn-name { font-size:13px; font-weight: 400; color:#222; display:block; }


/* CART ITEM STYLING */
.dca-page-wrapper .cart-empty  { /*height:218px;*/ height: 200px; border:2px #ccc dashed; margin:20px;  width:180px; }
.dca-page-wrapper .cart-empty p {
    background: url("/getImage.php?src=prereg-icons-bg.png") no-repeat 20px -147px;
    color: #8A8A8A; font-family: Lato,sans-serif; font-size: 15px; font-weight: 400;
    text-align: center; padding: 0 0 0 20px; position: relative; top:40%;
}
.dca-page-wrapper #checkout, .dca-footer-banner a
{ background:#2fbe15; border:1px solid #18900b; color:#fff; cursor:pointer;
    font-family:Lato,sans-serif; font-size:18px; font-weight: 400;text-align:center;
    width:100%; padding:16px 0;  -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
}
.dca-page-wrapper #checkout.disabled
{ background:#dedede; width:100%; padding:16px 0; border:0; border-top:1px solid #c7c7c7; color:#909090;
    font-family:Lato,sans-serif; font-size:16px; font-weight: 400; text-align:center;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(216, 216, 216, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(216, 216, 216, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(216, 216, 216, 0.2);
}
.dca-page-wrapper .cart-items-container
{ margin:0; background: none !important; padding:0 !important; min-height:204px; }
.dca-page-wrapper .cart { border: 1px solid #ccc; min-height : 300px; width: 225px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; position: absolute;
    right:0 }
.dca-page-wrapper .cart-header { background: #f2f2f2; width:100%; border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius:  4px 4px 0 0;  }
.dca-page-wrapper .cart-header h3
{ padding: 15px; font-family:Lato,sans-serif; font-size:18px; font-weight:400; color:#222; }
.dca-page-wrapper .cart-list { padding-top:25px; }
.dca-page-wrapper .cart-list li { margin:0; padding:0 20px 17px 20px; position:relative; }
.dca-page-wrapper .cart-list li span{ font-family:Lato,sans-serif; font-size:15px; font-weight: 400; color:#222; }
.dca-page-wrapper .cart .remove, a.tooltipanimated.dca-comingsoon-button  span.classic-ani .close-button,
.secondary-result-section-tld-upsell .close-tld-upsell
{ background: url("/getImage.php?src=close.png") no-repeat 0 0; right: 20px; top:1px; height:15px; position: absolute; width:15px; opacity:0.6;  }
.dca-page-wrapper .cart .remove:hover, a.tooltipanimated.dca-comingsoon-button  span.classic-ani .close-button:hover,
.secondary-result-section-tld-upsell .close-tld-upsell:hover
{ opacity:0.8 }
.dca-page-wrapper .cart .remove:active, a.tooltipanimated.dca-comingsoon-button  span.classic-ani .close-button:active,
.secondary-result-section-tld-upsell .close-tld-upsell:active
{ opacity: 1; }

.dca-page-wrapper .cart .ppp-modal
{ background: #fff !important; border-top:1px solid #ccc; margin:4px 20px 30px 20px; padding:12px 0px; position:relative;  }
.dca-page-wrapper .cart .ppp-modal .ppp-tobe-enabled
{ background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat -43px -216px; padding:0 0 0 20px; }
.dca-page-wrapper .cart .ppp-modal a{ font-family:Lato,sans-serif; font-size:13px; font-weight: 400; color:#0a69a4; }
.dca-page-wrapper .cart .ppp-modal p, .cart .ppp-modal p a.heading
{ font-family:Lato,sans-serif; font-size:13px; font-weight:400; color:#0a69a4; padding-bottom:2px; }
.dca-page-wrapper .cart .ppp-modal p:hover, .cart .ppp-modal a:hover, .cart .ppp-modal:hover p,   .cart .ppp-modal:hover a
{ cursor: pointer; text-decoration: underline; }
.dca-page-wrapper .cart .ppp-modal .ppp-enabled .pp-enabled-icon
{ background: url('/getImage.php?src=images/dca-icons-sprite.png') no-repeat 0 -216px; width:15px; height:20px; margin:-2px 5px 0 -5px; vertical-align:middle; }
.dca-page-wrapper .cart .ppp-modal .ppp-enabled .pp-enabled-text
{ width:90%; vertical-align:top;}
.dca-page-wrapper .cart .ppp-modal .enable-ppp-arrow
{ background: url('/getImage.php?src=images/ppp-cart-arrow.png') 0 0; position:absolute;  top:-10px; left:20px; height:10px; width:16px; display:block; }
.dca-page-wrapper .total-container { margin:20px; }
.dca-page-wrapper .total-container span{ font-family:Lato,sans-serif; font-size:15px; font-weight:400; color:#222; text-transform:uppercase;   }
.dca-page-wrapper .total-container span#total { font-family:Lato,sans-serif; font-size:26px; font-weight:600; color:#28af0f }
.dca-page-wrapper .total-container .discounted-total, .dca-page-wrapper .total-container br	{ display:none; }
span.dca-domain-purchased, .secondary-result .dca-domain-name span, .dca-domain-name span.dca-primary-dn span.namevalue
{ display: inline-block; width: 150px; word-wrap: break-word;}
.dca-domain-name span.dca-primary-dn span.namevalue { width:200px; font-family:Lato,sans-serif; font-size:20px; color:#222; }
.secondary-result .dca-domain-name span, .dca-domain-name span.dca-primary-dn
{ width: 240px; }
.dca-domain-name span.dca-primary-dn.initial-padding { padding:0 0 0 50px; }
.dca-domain-name span.dca-primary-dn { margin-bottom: -5px; line-height:20px; padding-bottom:5px; }
.secondary-result .dca-domain-name { font-size:18px; }
.dca-page-wrapper .cart-items-container .cart-total { padding-left:0 !important; }
.dca-page-wrapper .dca-domain-purchased { position: relative; }
.dca-page-wrapper .dca-domain-purchased.add-left-padding{  padding:0 0 0 20px; }
.dca-page-wrapper .ic-privacy { position:absolute; margin:0; left:0; top:0; pointer-events: none; cursor: default; }

/* SEARCH FILTERS */
.filters { width:45% }
.filters ul li
{ display:inline-block; text-transform:uppercase; font-family:Lato,sans-serif; font-size:13px; font-weight: 400; color:#222;
    position:relative; padding:5px; margin:0;
    border:1px solid #fff;
    -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
}
.current-choosen-filter
{ background:#e8e8e8; border:1px solid #e2e2e2 !important; border-bottom:1px solid #e2e2e2 !important;
    -webkit-border-radius: 16px !important; -moz-border-radius: 16px !important; border-radius: 16px  !important;
    height:6px; line-height:6px;
}

.activefilter, #dca-match-filter.current-choosen-filter.activefilter
{   background: #fff !important; border:1px solid #e2e2e2 !important; border-bottom:0; border-right:1px solid #e2e2e2 !important;
    -webkit-border-radius: 4px 4px 0 0 !important; -moz-border-radius: 4px 4px 0 0 !important; border-radius: 4px 4px 0 0 !important;
    -webkit-box-shadow:  0 0 2px 2px #f1f1f1;
    -moz-box-shadow: 0 0 2px 2px #f1f1f1;
    box-shadow: 0 0 2px 2px #f1f1f1; height: auto; line-height: normal;
}


.filters ul li .dca-filter-option { background:transparent !important; border:0; cursor: pointer; }
.filters ul li button.filter-button { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }


#dca-price-filter .dca-filteroption-details
{ text-transform: none !important;
    background: #fff;
    position: absolute; top:28px; right:-1px;
    padding:25px; z-index: 1000; border:1px solid #e2e2e2;
    -webkit-border-radius: 4px 0 4px 4px; -moz-border-radius: 4px 0 4px 4px; border-radius: 4px 0 4px 4px;
    -webkit-box-shadow:  0 0 2px 2px #f1f1f1;
    -moz-box-shadow: 0 0 2px 2px #f1f1f1;
    box-shadow: 0 0 2px 2px #f1f1f1;
}
#dca-price-filter .white-patch { width:44px; position:absolute; height:10px; z-index: 9999; right:0; top:-10px; background:white; }
.filters ul li#dca-price-filter button.filter-button{ margin: 0 20px; padding:6px 17px !important; font-size:13px; }
#dca-price-filter .dca-filteroption-details { text-align: center; }
#dca-price-filter .dca-filteroption-details span { font-family:Lato,sans-serif; font-size:12px; font-weight: 400; line-height:18px;  }
#dca-price-filter .price-range-container { width:160px; margin: -8px 0 15px 0; }

#dca-match-filter .dca-filteroption-details
{ text-transform: none !important;
    position: absolute;
    padding:25px; z-index: 1000; top:28px; width:210px; border:1px solid #e2e2e2;
    background:#fff; right:-1px;
    -webkit-border-radius: 4px 0 4px 4px; -moz-border-radius: 4px 0 4px 4px; border-radius: 4px 0 4px 4px;
    -webkit-box-shadow:  0 0 2px 2px #f1f1f1;
    -moz-box-shadow: 0 0 2px 2px #f1f1f1;
    box-shadow: 0 0 2px 2px #f1f1f1;
}

#dca-match-filter .dca-filteroption-details label:hover { cursor: pointer; }

#dca-match-filter .white-patch { width:113px; position:absolute; height:10px; z-index: 9999; right:0; top:-10px; background:white; }
.filters ul li#dca-match-filter button.filter-button { margin:20px 45px 0 45px; padding:6px 17px !important; font-size:13px; }
.dca-filteroption-details input[type=checkbox]{ margin:4px 0 0 0; }
.dca-filteroption-details label
{ color:#222; font-family:Lato,sans-serif; font-size:13px; font-weight: 400; line-height:20px; /*margin:0 0 10px 8px;*/ margin:0 0 2px 8px; vertical-align:top; width:85%; }
.dca-filteroption-details  p { color:#888; font-family:Lato,sans-serif; font-size:12px; font-weight: 400; line-height:18px; width:90%; margin:0 0 0 19px;  }

.dca-filteroption-details .loading-dca-content
{ background: url('/getImage.php?src=images/ajax-loader-dca-filter.gif') no-repeat; height:16px; width:16px; margin:0; position: absolute; right:20px;  }

#dca-price-filter .dca-filteroption-details .loading-dca-content
{ left:95px; top:70px;   }


/* RANGE SLIDER - PLUGIN CSS */
.slider {
    width: 160px;
    margin:0 auto 5px auto !important;
}

.slider > .dragger { background: url('/getImage.php?src=images/dca-range-slider.png') no-repeat; width:25px; height:25px;	}
.slider > .track, .slider > .highlight-track {
    background: #ccc;
    background: -webkit-linear-gradient(top, #bbb, #adadad);
    background: -moz-linear-gradient(top, #bbb, #adadad);
    background: linear-gradient(top, #bbb, #adadad);

    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

    border: 1px solid #aaa;
    height: 9px;
}

.slider > .highlight-track {
    background-color: #3ccbed;
    background: -webkit-linear-gradient(top, #3ccbed, #39a2dd);
    background: -moz-linear-gradient(top, #3ccbed, #39a2dd);
    background: linear-gradient(top, #3ccbed, #39a2dd);
    border-color: #c3e3ea;
}



/* FOOTER BANNER */
.dca-footer-banner
{ background: url('/getImage.php?src=images/dca-banner-bg.png') no-repeat 20px 15px #02b6ec; height:170px; width:735px; margin:80px 0 0 0; text-align:center;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
}
.dca-footer-banner h1
{ font-family:Lato,sans-serif; font-size:32px; font-weight:600; padding:25px 0 0px 0; margin:0; color:#fff; text-shadow: #006571 1px 1px 1px; }
.dca-footer-banner p { text-align:center; font-family:Lato,sans-serif; font-size:17px; font-weight: 400; color:#fff; margin:0 0 10px 0; }
.dca-footer-banner a { width:120px; padding:10px 20px; font-family:Lato,sans-serif; font-size:15px; font-weight: 400;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; opacity: 1 !important;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}
.dca-footer-banner .learn-more-container
{ background: #ccf0fb; width: 125px; height:auto; padding:13px 0; margin:0 auto;
    -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
}

/* TOOLTIPS  */

a.tooltipanimated { position: relative; display: inline; text-decoration: none !important; cursor:pointer; }
a:hover.dca-premiumdomain-tag.tooltipanimated span.classic-ani,
.dca-comingsoon-tag a:hover.tooltipanimated span.classic-ani,
a.dca-eap-tag:hover.tooltipanimated span.classic-ani,
a:hover.dca-protecteddomain-tag.tooltipanimated span.classic-ani
{
    visibility: visible; opacity: 1; bottom: -115px; /*left: 35%;*/ margin-left: -80px; z-index: 9999;
    -webkit-transition: opacity, bottom 0.2s ease;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: opacity, bottom 0.2s ease;  /* Firefox 4-15 */
    -o-transition: opacity, bottom  0.2s ease;  /* Opera 10.50â€"12.00 */
    transition: opacity, bottom  0.2s ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera     12.50+ */
}

a:hover.dca-protecteddomain-tag.tooltipanimated span.classic-ani {
    bottom: -80px;
}

.dca-comingsoon-tag a:hover.tooltipanimated span.classic-ani { bottom:-95px; margin-left:-50px; }

.secondary-result .dca-comingsoon-tag a:hover.tooltipanimated span.classic-ani
{ bottom:-97px; }

.secondary-result a.tooltipanimated span:after,  .primary-result a.tooltipanimated span:after
{ border:0; visibility:visible !important; }

a.dca-premiumdomain-tag.tooltipanimated span.classic-ani,
.dca-comingsoon-tag a.tooltipanimated span.classic-ani, .verify-search-result-box .classic-ani,
a.dca-eap-tag.tooltipanimated span.classic-ani,a.dca-protecteddomain-tag.tooltipanimated span.classic-ani
{
    position: absolute; width:300px; color: #FFFFFF; background: #363636; height: 85px; border:1px solid #000;
    line-height: 21px; font-size:14px; font-family:Lato,sans-serif; font-weight: 400; text-align: left;
    -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px;
    visibility: hidden; margin-left:0; bottom:-105px; opacity:0; padding:10px !important; overflow:visible !important;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.7); -moz-box-shadow:    1px 1px 3px 0px rgba(0, 0, 0, 0.7); box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.7);
}

a.dca-protecteddomain-tag.tooltipanimated span.classic-ani {
    height: 50px; bottom:-70px;
}

.dca-comingsoon-tag a.tooltipanimated span.classic-ani { width:190px; height:65px; bottom:-80px; }

a.dca-eap-tag.tooltipanimated span.classic-ani { bottom: -125px; width: 200px; }

a.dca-eap-tag:hover.tooltipanimated span.classic-ani { bottom: -115px; }

a.dca-premiumdomain-tag.tooltipanimated span.classic-ani .tooltip-arrow,
.dca-comingsoon-tag a.tooltipanimated span.classic-ani .tooltip-arrow, .verify-search-result-box .classic-ani .tooltip-arrow,
a.dca-eap-tag.tooltipanimated span.classic-ani .tooltip-arrow,
a.dca-protecteddomain-tag.tooltipanimated span.classic-ani .tooltip-arrow
{ background: url('/getImage.php?src=images/dca-tooltip-arrow.png') no-repeat;
    position: absolute; top:-8px; left:133px; height:9px; width:18px; display:block; }

a:hover.dca-premiumdomain-tag.tooltipanimated,
.dca-comingsoon-tag a:hover.tooltipanimated,
.dca-comingsoon-tag a.tooltipanimated,
a:hover.dca-eap-tag.tooltipanimated,
a:hover.dca-protecteddomain-tag.tooltipanimated
{ color: #fff !important; }

a.tooltipanimated.dca-comingsoon-button { position:relative; }

a.tooltipanimated.dca-comingsoon-button em { font-style: normal !important; }

a.tooltipanimated.dca-comingsoon-button span.classic-ani, .verify-search-result-box .classic-ani {
    position: absolute !important;
    width:190px !important;
    color: #222 !important;
    background: #fff !important;
    height: 95px !important;
    border:1px solid #e2e2e2 !important;
    line-height: 19px !important;
    font-size:13px; font-family:Lato,sans-serif; font-weight: 400; text-align: left;
    -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;
    visibility: hidden; margin-left: -210px; bottom:-135px; opacity:0; padding:20px !important; overflow:visible !important;
    -webkit-box-shadow:  0 0 2px 2px #f1f1f1;
    -moz-box-shadow:  0 0 2px 2px #f1f1f1;
    box-shadow:  0 0 2px 2px #f1f1f1;
}

.secondary-result .dca-domain-name span.dca-comingsoon-tag, .secondary-result .dca-domain-name span.preregister-tag { overflow: visible !important; }

a.clicked.tooltipanimated.dca-comingsoon-button span.classic-ani, .verify-search-result-box .classic-ani
{
    visibility: visible; opacity: 1; bottom: -145px; /*left: 35%;*/ left:auto !important; margin-left: -210px; z-index: 9999;
    -webkit-transition: opacity, bottom 0.2s ease;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: opacity, bottom 0.2s ease;  /* Firefox 4-15 */
    -o-transition: opacity, bottom  0.2s ease;  /* Opera 10.50â€"12.00 */
    transition: opacity, bottom  0.2s ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera     12.50+ */
}
.verify-search-result-box .classic-ani
{ right: -5px; z-index: 9999; bottom: -145px; height: 120px !important; width: 212px !important;}

a.tooltipanimated.dca-comingsoon-button  span.classic-ani .tooltip-arrow, .verify-search-result-box .classic-ani .tooltip-arrow
{ background: url('/getImage.php?src=images/dca-comingsoon-arrow.png') no-repeat;
    position: absolute; top:-8px; left:265px; height:9px; width:18px;  }
.verify-search-result-box .classic-ani .tooltip-arrow
{ top:-9px; left:180px; }

a.tooltipanimated.dca-comingsoon-button.clicked span.classic-ani .tooltip-arrow, .verify-search-result-box .classic-ani .tooltip-arrow
{ opacity:1;display:inline-block; visibility:visible !important; }

a.tooltipanimated.dca-comingsoon-button  span.classic-ani button, .verify-search-result-box .classic-ani button
{ margin-top:10px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }

a.tooltipanimated.dca-comingsoon-button  span.classic-ani .close-button, .verify-search-result-box .classic-ani .close-button
{ top: 10px !important; right:10px !important; border:0 !important; margin-left:125px !important; }

.secondary-result a.tooltipanimated.dca-comingsoon-button  span.classic-ani .close-button, .verify-search-result-box .classic-ani .close-button
{ margin-left:124px !important; }

.close-verify-search-result
{ font-family:Lato,sans-serif; font-size:13px; font-weight: 400; text-decoration:none; position:relative; right:-10px; color:#0a69a4; white-space:nowrap; cursor: pointer;}


a.tooltipanimated.dca-comingsoon-button.clicked span.classic-ani .close-button, .verify-search-result-box .classic-ani .close-button
{ visibility:visible; }

.verify-search-result-box   span.classic-ani .close-button
{ background: url("/getImage.php?src=close.png") no-repeat 0 0; right: 20px; top:1px; height:15px; position: absolute; width:15px; opacity:0.6;  }
.verify-search-result-box  span.classic-ani .close-button:hover { opacity:0.8 }
.verify-search-result-box span.classic-ani .close-button:hover { opacity: 1; }


.primary-result a.tooltipanimated, .secondary-result a.tooltipanimated.dca-comingsoon-button  { display:inline-block;  }

.primary-result-premium {position: relative; margin-bottom: 20px;}

.preregister-tag { font-family:Lato,sans-serif; font-size:12px; font-weight: 400; color:#222; position:absolute; bottom:0; right:-120px; }

.secondary-result .preregister-tag { right:-250px; }

.dca-display-modal
{ font-family:Lato,sans-serif; font-size:13px; font-weight: 400; text-decoration:underline; position:relative; right:-10px; color:#0a69a4; white-space:nowrap;   }

/* SELECT BOX STYLING */

.dca-domain-avail .styled-select
{ background:url('/getImage.php?src=images/dca-duration-arrow.png') no-repeat right #fff;  width:70px !important; overflow: visible; position:relative; }

.dca-domain-avail span .dca-duration, .dca-domain-avail span .dca-duration-upsell {
    -webkit-appearance: none; -moz-appearance: none; appearance: none; height:20px; width:80px; border: none; background:transparent; cursor:pointer;
    font-family:Lato,sans-serif; font-size:15px; font-weight: 400; text-align: left !important; display:inline-block;
    *display: inline; *position:relative; zoom:1; margin:3px 0 0 0;
}
ul.hidden-dca-durations, ul.hidden-dca-durations-upsell
{ border:1px solid #e2e2e2; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;
    padding:0; margin:0; width:100px; position:absolute; top:25px; left: -15px; z-index:9999; }
ul.hidden-dca-durations li,ul.hidden-dca-durations-upsell li
{ background:#fff; padding:10px 15px; cursor: pointer; list-style: none;
    text-align: left !important;font-family:Lato,sans-serif; font-size:14px; font-weight: 400; }
ul.hidden-dca-durations li.even, ul.hidden-dca-durations-upsell li.even { background:#f8f8f8; }
ul.hidden-dca-durations li:hover, ul.hidden-dca-durations li.even:hover, ul.hidden-dca-durations-upsell li:hover, ul.hidden-dca-durations-upsell li.even:hover { background: #ccc; }

/* Some final hacks */
.secondary-result .dca-domain-avail .styled-select { position: relative; left: -35px; }
/* Discount offered */
.secondary-result .original-price, .primary-result .original-price
{ font-style: 100; position:absolute; /*left:-64px;*/ left: -85px; top:0; font-family: Lato,sans-serif;
    font-weight: 400; font-size:15px; color:#999; text-decoration:line-through;  }
.secondary-result-section-tld-upsell .original-price {
    font-style: 100; position:absolute; left:-90px; top:0; font-family: Lato,sans-serif;
    font-weight: 400; font-size:15px; color:#999; text-decoration:line-through;
}
#pp_modal_div .wide_modal .model-twocols { max-width:790px; }
.primary-result .original-price { left: -70px; top:12px;}
.discount-offered { font-style: normal;font-family: Lato,sans-serif; font-weight:400 !important; font-size:13px !important; position:relative; top:2px; /*top:-3px;*/ }

.dotwien_authcode_link {
    position: relative;
    /*left: -162px;*/
    font-size: 14px;
    text-decoration: underline;
}

.newgtld_premium_renew_price_label {
    font-size: 13px;
    font-weight: 400;
    font-variant: normal;
    font-style: normal;
    font-color: #666;
    color: #888;
}

.newgtld_premium_renew_price {
    font-size: 13px;
    font-weight: 300;
}

/* New gtld upsell blurb - start */

.dca-search-result-content { position: relative; }

.secondary-result-section-tld-upsell
{ background: #f8f8f8; border: 1px solid #c8c8c8; border-radius: 5px; box-shadow: 0 0 7px #bbb; left: -10px; padding:20px 10px 0 10px; position: absolute; top:80px; width:100%; z-index: 999;   }

.secondary-result-section-tld-upsell .close-tld-upsell
{ position: absolute; top:5px; right: 5px; }

.secondary-result-section-tld-upsell .top-arrow
{ background: url('/getImage.php?src=images/dca-upsell-tarrow.png') no-repeat; height: 14px; width: 21px; position: absolute; top: -14px; right:70px; }

.secondary-result-section-tld-upsell-domain
{ position: relative; border-bottom: 1px solid #ccc; padding: 20px 0 25px 0; margin:0 0 0 35px;}

.secondary-result-section-tld-upsell-domain .dca-domain-cb
{ height:auto; width:2%; margin: 5px 0 0 10px; vertical-align:top; }

.secondary-result-section-tld-upsell-domain .dca-domain-name
{ height:auto; width:45%; margin: 0 0 0 5px; font-size:18px; vertical-align:top; word-wrap:break-word; }

.secondary-result-section-tld-upsell-domain .dca-domain-avail { top:25px; right:0; width:50%; padding:0; }

.secondary-result-section-tld-upsell-domain .dca-domain-avail .styled-select
{ background: url('/getImage.php?src=images/dca-duration-arrow.png') no-repeat right #f8f8f8; position:absolute; left:0; }

.secondary-result-section-tld-upsell-domain-list { width: 80%; display: inline-block; vertical-align: middle;}

.secondary-result-section-tld-upsell .dca-select-button
{ text-align: right; vertical-align: middle; width: 18%; }

.secondary-result-section-tld-upsell .dca-select-button button.select-domain
{ margin-right: 10px; }

.secondary-result-section-tld-upsell .dca-select-button .limited-period
{ font-family: Lato,sans-serif; font-size: 13px; font-style: italic; color:#0a69a4; position: absolute; right: 30px; bottom:10px;  }

.secondary-result-section-tld-upsell p
{ font-family: Lato,sans-serif;  font-size: 17px; font-weight: 600; text-align: left; padding:0 0 8px 20px;}

.secondary-result-section-tld-upsell-domain:last-child {
    border-bottom:0;
}

.secondary-result-section-tld-upsell-domain.last-gtld-upsell-domain
{ border-bottom: 0; }

/* New gtld upsell blurb - end */

#pp_modal_div .modal_overlay { position: fixed; }

/* Combo offers - Upsell */

.combo-offer-upsell
{
    display: none;
    background: #f8f8f8; position: relative; top:0;
    border: 0;  border-top: 0;
    border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px;
    width: 735px;
}

.primary-result-section + .combo-offer-upsell
{
    top: -43px;
    border: 2px solid #2fbe16;
    border-top: 0 none;
}

.secondary-result-section .combo-offer-upsell { border-bottom: 2px solid #ccc; }

.combo-offer-upsell h3
{
    border-top: 1px solid #ebebeb; padding: 15px 20px 0 20px;
    color: #222; font-size: 18px; font-family: Lato,sans-serif; font-weight: 400;
}
.combo-offer-upsell h3 span.domainname { color:#2aa713 }

.combo-offer-upsell div.product { display: inline-block; vertical-align: top; }

.combo-offer-upsell  .two-products-bundle div.product
{ width: 200px; }

.combo-offer-upsell  .two-products-bundle div.product.domain-name
{ width: 165px; }

.combo-offer-upsell  .three-products-bundle div.product
{ width: 144px; }

.combo-offer-upsell span.product-name
{ color: #222; font-size: 16px; font-family: Lato,sans-serif; font-weight: 400; display: block;
    word-wrap: break-word;
}

.combo-offer-upsell span.product-name.domain { vertical-align: middle; }

.combo-offer-upsell span.product-name,
.product-content
{  display: inline-block; margin: 0 3px 0 0; vertical-align: top; width: 78%; }

.combo-offer-upsell .two-products-bundle span.product-name,
.two-products-bundle .product-content
{ width: 75%; }

.combo-offer-upsell span.subdesc
{ color: #666; font-size: 13px; font-family: Lato,sans-serif; font-weight: 400; cursor: pointer; display: block; }

.combo-offer-upsell .three-products-bundle span.subdesc
{ min-height: 32px; white-space: normal; }

.combo-offer-upsell span.subdesc .toggle-arrow
{  background: url('/getImage.php?src=images/bundles-upsell-icons.png') no-repeat -210px 0; cursor: pointer;
    margin: 0 0 2px 5px; height: 6px; width: 10px;
}

.combo-offer-upsell span.subdesc .toggle-arrow.expanded
{ background-position:-195px 0; }

.combo-offer-upsell .product-content ul
{ margin: 13px 0 0 -10px; display: none; }

.combo-offer-upsell ul li
{ color:#9bcb44; list-style: disc; list-style-position: inside; font-size: 12px; padding: 0 0 8px 0; }

.combo-offer-upsell ul li span
{color: #1b1b1b; font-size: 13px; font-family: Lato,sans-serif; font-weight: 400; }

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)
{
    .combo-offer-upsell ul li span { margin: 0px 0 0 -3px; }
}


.two-products-bundle, .three-products-bundle { padding: 20px; }

.three-products-bundle { margin: 0 -21px 0 0; padding: 20px 0 20px 20px; }

.price-checkout-container.three-products,
.price-checkout-container.two-products
{ vertical-align: top; margin: 22px 0 0 7px; text-align: right; width: 235px; }

.price-checkout-container.three-products { width: 200px }

.price-checkout-container .price
{ color: #222; font-family: Lato,sans-serif; font-size: 16px; font-weight: 400; margin: 0 25px 0 0; }

.product .domain-icon,
.product .email-icon,
.product .hosting-icon,
.product .sitebuilder-icon,
.product .ssl-icon,
.two-products-bundle .plus-icon,
.three-products-bundle .plus-icon,
.product .up-arrow-icon,
.product .down-arrow-icon
{ background: url("/getImage.php?src=images/bundles-upsell-icons.png") no-repeat left 0; display: inline-block; }

.product .domain-icon
{ background-position: 0 0; height: 31px; vertical-align: top; width: 33px }

.product .email-icon
{ background-position: -112px 0; height: 30px; width: 33px; }

.product .hosting-icon, .product .sitebuilder-icon
{ background-position: -155px 0; height: 29px; width: 33px; }

.product .ssl-icon
{ background-position: -46px 0; height: 32px; width: 33px; }

.two-products-bundle .plus-icon, .three-products-bundle .plus-icon
{  background-position: -85px 0; display: inline-block;  height: 18px; margin: 7px 20px 0 20px; width: 18px; }

.three-products-bundle .plus-icon { margin: 7px 10px 0 0; }

.combo-offer-upsell  .three-products-bundle span.product-name,
.combo-offer-upsell  .three-products-bundle .product-content
{ width: 72%;  }

.combo-offer-upsell  .three-products-bundle span.product-name
{ font-size: 14px; white-space: nowrap; }

.combo-offer-upsell  .three-products-bundle span.product-name.domain
{ white-space: normal; }

.combo-offer-upsell .two-products-bundle ul li span,
.combo-offer-upsell .three-products-bundle ul li span
{  display: inline-block;  vertical-align: top;  width: 86px;  }

.combo-offer-upsell .two-products-bundle ul li span { width: 145px; }

.close-bundle-upsell
{ background: url("/getImage.php?src=images/bundle-upsell-close.png") no-repeat; opacity: 0.6;
    position: absolute; top: 8px; right: 8px; height: 14px; width: 14px;
}

.close-bundle-upsell:hover { opacity: 1; cursor: pointer; }

.upsell-bundle-arrow
{ background: url("/getImage.php?src=images/bundle-upsell-arrow.png") no-repeat; height: 11px;
    width: 19px; position: absolute; top:-10px; right: 60px;  }

.price-checkout-container .select-domain
{ padding: 8px 10px  }

.price-checkout-container.two-products .select-domain
{ padding: 8px 15px  }

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {


    .product .domain-icon,
    .product .email-icon,
    .product .hosting-icon,
    .product .sitebuilder-icon,
    .product .ssl-icon
    {
        background: url('/getImage.php?src=images/bundles-products-icons-sprite@2x.png') no-repeat;
        vertical-align: top;
        background-size: 167px 33px;

    }
    .product .domain-icon {
        background-position: 0 0;
        width: 33px;
        height: 30px;
    }
    .product .hosting-icon {
        background-position: -36px 0;
        width: 31px;
        height: 30px;
    }
    .product .email-icon {
        background-position: -72px 0;
        width: 31px;
        height: 30px;
    }
    .product .sitebuilder-icon {
        background-position: -107px 0;
        width: 31px;
        height: 30px;
    }
    .product .ssl-icon
    {
        background-position: -141px 0;
        width: 25px;
        height: 33px;
    }
}

/* Reserved Status */

.dca-dn-reserved .dca-dn-reserved-icon
{ background: #fbf4e6; border: 1px solid #F0AA34; border-radius: 5px; width: 36px; height: 30px;
  margin:4px 2px 0 0; vertical-align: top;
}

.dca-dn-reserved .dca-dn-reserved-icon span
{ display: block; border-radius: 25px; background:#F0AA34;  margin: 1px auto 0 auto;  width: 28px;  height: 28px;  }

.dca-dn-reserved .dca-green-text
{ color: #F0AA34 }

.dca-dn-reserved a#contact-sales-link
{ font-size: 14px; font-weight: 400; text-align: left; display: block; text-decoration: underline; margin: 0px 0 0 45px; }

.dca-dn-reserved a#contact-sales-link:hover
{ color: #377ce4; }

.primary-result-section.dca-reserved
{  border: 2px solid #F0AA34;  }

/* .APP/.DEV/.PAGE */

.secondary-result .dca-domain-name span{
    text-overflow: ellipsis; word-wrap: normal; overflow: hidden;
}

.ssl-cert-required{
    font: 400 14px/22px Lato,sans-serif;
    color: #222;        
    display: block;
    margin: -12px 0 0 70px;;
    position: relative;    
}

.primary-result-section .ssl-cert-required:last-child{
    margin: -12px 0 20px 70px;;
}

.secondary-result-section .ssl-cert-required {
    margin: -24px 0 0 20px;
    top: -15px;
    
}
.secondary-result-section .ssl-cert-required.ssl-cert-required-premium {
    top: -21px;
    left: 105px;
    border-left: 1px solid #ddd;
    padding-left: 12px;
}

.ssl-tootlip-icon{
    background: url("/getImage.php?src=images/ssl-req-icon.png") no-repeat;
    display: inline-block;
    height: 13px;
    position: relative;
    width: 13px;
    left: 2px;
    top: 4px;
    cursor: pointer;
}

.ssl-tootlip-wrp-icon{
    background: url("/getImage.php?src=images/ssl-req-lock-icon.png") no-repeat;
    height: 18px;
    width: 14px;
    display: inline-block;
    margin: 0 9px 0 0;    
}

.ssl-tooltip-txt{   
    font: 400 14px/22px Lato,sans-serif;
    color: #fff;
    background: #363636;
    border: 1px solid #000;
    width: 310px !important;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    padding: 10px 3px 8px 12px;
    top: 30px;
    left: 70px;
    word-wrap: normal !important;
    white-space: normal;
    z-index: 2;
}

.ssl-cert-required:hover .ssl-tooltip-txt a,
.ssl-cert-required .ssl-tooltip-txt a{
    color: #46acec; text-decoration: underline;
}

.ssl-tooltip-arrow{
    background: url("/getImage.php?src=images/ssl-tooltip-arrow.png") no-repeat;
    height: 9px; width: 17px;
    position: absolute;
    left: 40px; top: -9px;
    display: block;
}

.dca-domain-name .ssl-cert-required{
    position: absolute;
    white-space: nowrap;
    top: 2px;
    left: 92px;
    padding-left: 12px;
    border-left: 1px solid #dddddd;
}

.dca-domain-name .ssl-tooltip-txt{   
    width: 313px !important;
    padding: 10px 11px 8px 11px;
    left: 81px;
}

.secondary-result .dca-domain-name span.ssl-cert-required .ssl-tootlip-wrp-icon{
    width: 14px;
}

/* START: For BFAC Section */
.bfac-flair-strip {
  position: relative;
  background-color: #dcebff;
  margin: -2px 20px 18px 20px;
  padding: 5px 8px 0px 8px;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
}

.bfac-flair-left {
  color: #222222;
  font-family: Lato,sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
}

span.bfac-flair-heart {
  float: left;
  padding: 0px 0px 0px 5px;
  margin-right: 7px;
}

.bfac-flair-heart-icon {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background: url("/getImage.php?src=bfac-heart-icon.png") no-repeat; 
  background-size: 16px 16px;
  margin: 0px 0px -6px 0px;
  top: 4px;
  right: 0px;
}

.bfac-flair-heart-text {
  float: left;
  margin: 4px 0px 0px 0px;
}

.bfac-flair-exclamation-icon {
  display: block;
  width: 12px;
  height: 12px;
  background: url("/getImage.php?src=bfac-info-icon.png") no-repeat;
  background-size: 12px 12px;
  margin: -1px 0px -2px 0px;
  position: relative;
  top: 7px;
  right: -139px;
}

.bfac-flair-exclamation:hover .tooltip-bfac-text {
  visibility: visible;
}

.bfac-flair-exclamation .tooltip-bfac-text {
  visibility: hidden;
  width: 260px;
  font-family: Lato,sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 21px;
  padding: 12px 16px;
  position: absolute;
  z-index: 1;
  top: 102%;
  left: 160px;
  margin-left: -154px;
  color: #ffffff;
  background: #363636;
  border: 1px solid #000;
  text-align: left;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.bfac-flair-exclamation .tooltip-bfac-text::after {
  content: "";
  position: absolute;
  bottom: 97%;

  left: 50%;
  margin-left: -12px;
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent #363636 transparent;
}

.bfac-flair-right {
  color: #222222;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
  text-align: right;
  margin-right: 6px;
  padding: 1px 0px 0px 0px;
}

i.bfac-flair-star {
  margin: 0px 0px -4px 0px;
  font-size: 15px;
  color: #ffad1f;
  margin-right: 4px;
  font-style: normal;
  font-family: Lato,sans-serif;
}

.bfac-flair-star-icon {
  display: block;
  width: 14px;
  height: 14px;
  background: url("/getImage.php?src=bfac-star-icon.png") no-repeat;
  background-size: 14px 14px;
  margin: -1px 0px -2px 0px;
  position: relative;
  top: 4px;
  right: 22px;
}

.bfac-flair-star-text {
    position: relative;
    margin-bottom: 20px;
    top: -8px;
}

.section-bfac-flair {
  padding: 38px 0px;
  height: 59px;
}

.secondary-bfac-flair {
  margin-top: -56px;
}

.section-bfac-flair-premium {
  height: 98px;
}

.secondary-bfac-flair-premium {
  margin-top: -57px;
}

.section-bfac-flair .dca-domain-name span {
  font-weight: 600;
}

.section-bfac-flair-premium .dca-domain-name span {
  font-weight: 600;
}
/* END: For BFAC Section */


/* Domain Backordering CSS changes */

.dca-dn-unavailable.dca-domain-name span.dca-primary-dn span.namevalue{
    font-weight: 400;
    width: 600px;
    
}

.dca-dn-unavailable.dca-domain-name span.dca-primary-dn span.namevalue .dca-red-text{
    font-weight: 600;
}

.backordering{
    font-size: 16px;
    font-weight: 400;
    margin: 9px 0 0 0;
    min-width: 640px;
}

.backordering-details{
  box-sizing: border-box;
  width: 692px;  
  background-color: #F8F8F8;
  margin: 25px 0 0 -50px;
  padding: 20px 0 25px 0;
  border-radius: 3px;
  display: none;
}

.backordering a.expand-icon{
    color: #4285F4;
}
.backordering a.expand-icon::after{
    width: 13px;
    height: 8px;
    background: url('/getImage.php?src=images/domain-backordering-arrow.png');
    background-size: 13px 8px;
    content: "";
    display: inline-block;
    position: relative;
    left: 6px;

}

.backordering a.expand-icon.collapse-icon::after{
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.backordering p {
  color: #222222;
  font-family: Lato,sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0 25px;
}

.backordering p.backorder-cta-wrapper
{
    padding: 20px 25px 13px 25px;
}

.backorder-cta-wrapper .dca-select-button{
    position: relative;
    top: 3px;
}

.backordering ul{
    margin: 16px 0 0 0;
}
.backordering ul li{
  color: #222222;
  font-family: Lato,sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 22px;
  margin: 0 0 22px 0;
  padding: 0 0 0 50px;
  background: url('/getImage.php?src=domain-backorder-bullet.png') no-repeat left 25px top 5px;
  background-size: 15px 12px;
}

.backorder-cta-wrapper{
    border-width:1px 0;
    border-style: solid;
    border-color: #E9E9E9;
}

.bold-style-txt{
    font-weight: 600;
}

.backordering p.gray-note{  
  color: #888888;
  font-family: Lato,sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 18px;
  margin: 21px 0 0 0;
}

.primary-result-section.dca-available.grayBdr,
.primary-result-section.dca-unavailable.grayBdr,
.primary-result-section.dca-reserved.grayBdr{
    border: 2px solid #ccc
}

.select-domain-for-backordering{
    background: #2fbe15;
    border: 0;
    color: #fff;
    font-family: Lato,sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: auto;
    width: auto;
    padding: 8px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #18900b;
    outline: none;
}

#backorder-cart-list li{
    padding: 0 20px 17px 20px;
    position: relative;
}

#backorder-cart-list li span.backorder-domain-purchased{
    font-family: Lato,sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #222;
}
#alert_pp_modal_div .heading{ font: bold 21px Arial, Helvetica, sans-serif;}

#what_is_pp_modal_div .wide_modal {width:900px !important;}


#what_is_pp_modal_div h2, #alert_pp_modal_div h2{
    text-align: left;
    background: none;
    padding: 0;
    line-height: 20px;
}

.public_profile{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.private_profile{display: flex}

.public_profile span:nth-of-type(2){
    margin: 0 0 0 5px;
    font-size: 13px;
}
#what_is_pp_modal_div .pp_comparison_container, #alert_pp_modal_div .pp_comparison_container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 10px 0;
}

.without_pp_outer_container{ padding: 0 10px 0 0;}

.divider_line{border: 1px solid #d9d9d9; margin: 5px 0 0 0}

#alert_pp_modal_div .pp_comparison_container{
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

#what_is_pp_modal_div .pp_comparison_container .pp_recommend_heading, #alert_pp_modal_div .pp_comparison_container .pp_recommend_heading{
    display: flex;
    justify-content: center;
    color: #5fba3c;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

#what_is_pp_modal_div .without_pp_container, #what_is_pp_modal_div .with_pp_container, #alert_pp_modal_div .without_pp_container{
    display: flex;
    flex-direction: column;
    align-items: start;
    background: #f8f8f8;;
    padding: 15px;
    margin: 10px 0;
    width: 339px;
    height: auto;
    border: 4px solid #f8f8f8;
    
}#what_is_pp_modal_div .with_pp_container{
    border: 4px solid #5fba3c;
}

#what_is_pp_modal_div h3, #alert_pp_modal_div h3{
    margin: 0 auto;
    color: #f8f8f8; 
    font-weight: bold; 
}

#alert_pp_modal_div .without_pp_subheading{
    margin: 10px 0 20px 0;
    font-size: 16px;
    color: #000000a3;
    font-weight: bold;
}

#what_is_pp_modal_div .white_inner_bg_container, #alert_pp_modal_div .white_inner_bg_container{
    margin: 0;
    padding: 5px 0 0 0;
    width: 100%;
}
#alert_pp_modal_div .white_inner_bg_container{width: 100%;}

#what_is_pp_modal_div .red_outline_container, #alert_pp_modal_div .red_outline_container{
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
}

#what_is_pp_modal_div .with_pp_container .red_outline_container .comp_text .with_pp,
#alert_pp_modal_div .with_pp_container .red_outline_container .comp_text .with_pp {
    display: flex; justify-content: space-between;
}

#what_is_pp_modal_div .red_outline_container .comp_text, #alert_pp_modal_div .red_outline_container .comp_text{
    font-size: 14px;
    line-height: 15px;
    margin: 10px 0;
    font-weight: 400;
}

#what_is_pp_modal_div .red_outline_container .comp_text span:nth-of-type(odd),
#alert_pp_modal_div .red_outline_container .comp_text span:nth-of-type(odd)
{    color: grey;}

#what_is_pp_modal_div .without_pp_container .pp_profile_heading_public,
#what_is_pp_modal_div .with_pp_container .pp_profile_heading_private,
#alert_pp_modal_div .without_pp_container .pp_profile_heading_public
{
    background-color: #e01515;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    padding: 5px 10px;
    text-transform: uppercase;
}
#what_is_pp_modal_div .with_pp_container .pp_profile_heading_private{
    background-color: #5fba3c;
}

#what_is_pp_modal_div .red_outline_container .comp_text span:nth-of-type(even),
#alert_pp_modal_div .red_outline_container .comp_text span:nth-of-type(even)
{color: #e01515; font-weight: bold;}

#what_is_pp_modal_div .with_pp_container .red_outline_container .comp_text .with_pp span:nth-of-type(odd) {color: #5fba3c; font-weight: bold;}

#what_is_pp_modal_div .with_pp_container .red_outline_container .comp_text .with_pp .hidden_badge{
    background: #cfcfcf;
    color: grey;
    text-transform: uppercase;
    padding: 0 6px;
    font-size: 9px;
    font-weight: bold;
}

a.kb_reseller_link{display: flex;float: right;width: max-content;}

#alert_pp_modal_div .without_pp_container{width: 95%;}

.manage_pp_options{
    display: flex;
    margin: 10px 0;
}

.manage_pp_options span{
    text-align: center;
    padding: 12px 0;
    background: #5fba3c;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    width: 233px;
}

.manage_pp_options span:hover{
    opacity: 0.9;
}

.manage_pp_options span:first-of-type(1){
    padding: 12px 40px;
}

.manage_pp_options span:nth-of-type(2){
    color: #497bdd;
    background: none;
    font-weight: 500;
    width: auto;
    margin: 0 30px;
}
